.col-sm-10
	.well.well-background
		%h4
			= link_to topic.title, topic
		- if topic.user
			by 
			= topic.user.name
		%div
			- if policy(topic).edit?
				= link_to "Edit", edit_topic_path(topic), class: "btn btn-primary btn-sm" 
			- if policy(topic).destroy?	
				= link_to "Delete", topic, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" 	


