<div class="container">
	<div class="row col-sm-12">

		<h1>Topics</h1>
		<%= render @topics %>
		<div class="col-sm-6">
			<%= link_to "Add a Topic", new_topic_path, class: "btn btn-primary" %>
		</div>

	</div>
</div>

