- if policy(Like.new).create?
	- if like = current_user.liked(bookmark)
		= link_to bookmark_like_path(bookmark, like), class: "btn btn-sm btn-danger", method: :delete do
			%i.glyphicon.glyphicon-star-empty
			&nbsp; Unlike
	- else 
		= link_to bookmark_likes_path(bookmark), class: "btn btn-sm btn-success", method: :post do 
			%i.glyphicon.glyphicon-star
			&nbsp; Like
			


