%h1 About Blocipedia
%p Hi, my name is Joe Garcia. This is my Blocmarks project for bloc.
%ul 
	%li 
		%h4 
			Users
		%ul
			%li Unsigned - does not have any privilage
			%li Regular
			%ul 
				%li Free sign-up
				%li Create new topic
				%li Edit and delete your own topic
				%li Deleting your topic deletes all the bookmarks in that topic
				%li Create bookmarks in any topic
				%li Edit and delete your own bookmarks
			%li Admin
			%ul
				%li Assigned only
				%li Can access all	
%ul
	%li
		%h4 Topics and Bookmarks
		%ul
			%li Users can create topics
			%li Then create bookmarks for any topic
			%li Users can like or unlike any bookmark
			%li Users can view all topics/bookmarks or their own bookmarks and likes
%ul
	%li
		%h4 Sending email to this app
		%ul
			%li You can also send an email to this app with a subject as the topic and the body with a url address and the app will add the url to your list of bookmarks
			%li if there is no subject or the subject is different the app will create a new topic
			%li if you are not a signed user the app will sign your email and give you a default password that you can change later



