<h1>About Blocmarks</h1>
<p>Hi, my name is Joe Garcia. This is my Blocmarks project for bloc.</p>

<ul>
	<li><h4>Users</hr></li>
	<ul>
		<li>unsigned - does not have any privilage</li>
		<li>Regular</li>
			<ul>
				<li>Free sign-up</li>
				<li>Create new topic</li>
				<li>Edit and delete your own topic</li>
				<li>Deleting your topic deletes all the bookmarks in that topic</li>
				<li>Create bookmarks in any topic</li>
				<li>Edit and delete your own bookmarks</li>
			</ul>		
		<li>Admin</li>
			<ul>
				<li>Assigned only</li>
				<li>Can access all</li>
			</ul>
	</ul>
</ul>

<ul>
	<li><h4>Topics and Bookmarks</h4></li>
	<p>Users can create topics</p>
	<p>Then create bookmarks for any topic</p>
</ul>



