
<div class="jumbotron" style="background-color: #D5D3D5">
	<div class="container">
	  <h1>Blocmarks</h1>
	  <p>a production quality social bookmarking app that allows users to email, manage and share bookmarked URL.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
