.jumbotron{ style: "background-color: #D5D3D5" }
	.container
		%h1 Blocmarks
		%p a production quality social bookmarking app that allows users to email, manage and share bookmarked URL.
		%p 
			=link_to "Learn more", about_path, class: 'btn btn-primary btn-md'	 



